/* for the whole page*/
*{
    padding: 0px;
    margin: 0px;

}
/* nav bar code*/
.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0px 0.3px 10px rgba(0, 0, 0, 0.15); /* Deeper shadow */
    
}
/* logo desgin */
.Rnav h3{
    color: rgb(61, 58, 58);
    font-family:'Courier New', Courier, monospace;
    margin-left: 25px;
    margin-top: 2px;
    font-size: 60px;
}
.Rnav h3 span{
  color: rgb(231, 82, 107);
 font-family:'Arial Narrow';

}
/* navbar links */
.Lnav{
    gap: 80px;
    display: flex;
    margin-right: 20px;
}
.Lnav ul{
    list-style: none;
    display: flex;
    text-decoration: none;
    padding: 0px;
    margin: 0px;

}
.Lnav ul li{
    list-style: none;
    margin-left: 30px;
}

.Lnav ul li a{
    font-size: 20px;
    text-decoration: none;
    color: black;
    padding: 10px;
    font-family: 'Arial Narrow';
    display: inline-block; /* helps with consistent hover behavior */
    transition: 0.3s ease;  /* smooth transitions */
    border-radius: 10px;
}
/* navlinks with hover effect */
.Lnav ul li a:hover {
    background: rgb(231, 82, 107); /* Pink accent */
    color: rgb(255, 255, 255);
}

/* BACK BUTTON*/

button{
    margin-left: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 6px;
     padding: 6px;
    border: 1px solid black;
    
}


button a{
    text-decoration: none;
    color: black;
    padding: 20px;
    font-size: 19px;
}


button:hover{
    background: rgb(231, 82, 107);
    border: 1px solid rgb(255, 255, 255);
    color: azure;
}



/* preview body content design */
.head-c{
    margin-top:10px;
    margin-left:50px;
    margin-right:50px;
    width: 1400px;
    height: 620px;
    border: 1px solid black;
    border-radius: 10px;
    box-shadow:
        0 10px 15px rgba(0, 0, 0, 0.2),
        0 20px 40px rgba(0, 0, 0, 0.3); /* Deeper 3D on hover */
}


.head-c  h3{ 
    margin-top: 15px;
    margin-left: 30px;
    width: 1300px;
    height: 50px;
    padding-top: 4px;
    padding-left:8px;
    border: 0.1px solid black;
    border-radius: 10px;
    box-shadow:
    0 10px 15px rgba(0, 0, 0, 0.2),  
    0 10px 15px rgba(0, 0, 0, 0.2);
    overflow-y: auto;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.head-c p{
    margin-top: 30px;
    margin-left: 30px;
    width: 1300px;
    height: 450px;
    border-radius: 10px;
    padding-top: 10px;
    padding-left:15px;
    border: 0.1px solid black;
     overflow-y: auto;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

/*footer*/
.footer{
    margin-top:30px;
    width: 99.99%;
    height: 86px;
    color: white;
    background-color: rgb(0, 0, 0);
    box-shadow: 0px 0.3px 10px rgba(0, 0, 0, 0.15); /* Deeper shadow */
}
.footer p{
    padding-top: 30px;
    text-align: center;
}